<div class="span12">
  <div class="page-header">
    <h1>Operations Checks   
      <span class="hidden-phone">
	<%= link_to 'Start New Check', new_operations_check_path, 
	    :class => 'btn btn-primary' %>
      </span>
    </h1>  
  </div>

  <span class="visible-phone"> 
    <div class="row" style="padding-bottom: 20px">
      <p>
        Must be completed twice daily.  If a check fails, create a
	ticket in the internal queue listing the failed check and any
	deatils.  Then record the check as failed plus the ticket
	number on this site.  Once you have completed your check you
	will need to audit the last person's check to see if all
	checks were done properly.  If it was done correctly then sign
	off on _their_ check.  Otherwise fry them in your inf-co
	ticket listing what they did wrong.  Instructions and criteria
	for individual checks are listed by each check.
      </p>
    </div>
    <%= link_to 'Start New Check', new_operations_check_path, 
	:class => 'btn btn-block btn-primary' %>
    </br>
    
    <h3>Archives</h3>
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>Owner</th>
	  <th>Started</th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	<% @operations_checks.each do |operations_check| %>
	<tr>
	  <td><%= operations_check.owner %></td>
	  <td><%= operations_check.date.strftime("%Y-%m-%d %p") %></td>
	  <td><%= link_to 'Show', operations_check, :class => 'btn btn-mini' %></td>
	</tr>
	<% end %>
      </tbody>
    </table>
  </span>
  
  <span class="hidden-phone">
    <div class="row">
      <div class="span10">
	<p>
	  Must be completed twice daily.  If a check fails, create a
	  ticket in the internal queue listing the failed check and any
	  deatils.  Then record the check as failed plus the ticket
	  number on this site.  Once you have completed your check you
	  will need to audit the last person's check to see if all
	  checks were done properly.  If it was done correctly then sign
          off on _their_ check.  Otherwise fry them in your inf-co
	  ticket listing what they did wrong.  Instructions and criteria
	  for individual checks are listed by each check.
	</p>
      </div>
    </div>

    <h3>Archives</h3>
    <table class="table table-striped">
      <thead>
	<tr>
	  <th>Owner</th>
	  <th>Date</th>
	  <th>Failures Reported?</th>
	  <th>Complete?</th>
	  <th>Signed by</th>
	  <th></th>
	  <th></th>
	</tr>
      </thead>

      <tbody>
	<% @operations_checks.each do |operations_check| %>
	<tr>
	  <td><%= operations_check.owner %></td>
	  <td><%= operations_check.date.strftime("%Y-%m-%d %I:%M %p") %></td>
	  <% if operations_check.failures? %>
	  <td style="color: green">NO</td>
	  <% else %>
	  <td style="color: red">YES</td>
	  <% end %>
	  <% if operations_check.complete? %>
	  <td style="color: red">NO</td>
	  <% else %>
	  <td style="color: green">YES</td>
	  <% end %>
	  <td><%= operations_check.signed_off_by %></td>
	  <td><%= link_to 'Show', operations_check, :class => 'btn btn-mini' %></td>
	  <td><%= link_to 'Destroy', operations_check, 
		  method: :delete, data: { confirm: 'Are you sure?' }, 
		  :class => 'btn btn-mini btn-danger' %></td>
	</tr>
	<% end %>
      </tbody>
    </table>
  </span>
</div>
