<div class="hidden-phone">
  <div class="page-header">
    <h1><%= @operations_check.date.strftime("%Y-%m-%d %I:%M %p") %> : <%= @operations_check.owner %></h1>
  </div>
</div>
<div class="visible-phone">
  <div class="page-header">
    <h1><%= @operations_check.date.strftime("%m-%d %p") %> : <%= @operations_check.owner %></h1>
  </div>
</div>

<% unless notice.nil? %>
<div class="alert">
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="<%= 'active' if params[:tab] == 'labs' || !params[:tab] %>">
      <a href="#labs" data-toggle="tab" 
	 style="<%= if (@labs_unchecked.empty?) then 
		'color: green' else 'color: red' end %>">Labs</a>
    </li>
    <li class="<%= 'active' if params[:tab] == 'printers' %>">
      <a href="#printers" data-toggle="tab"
	 style="<%= if (@printers.empty?) then 
		'color: green' else 'color: red' end %>">Printers</a></li>
    <li class="<%= 'active' if params[:tab] == 'automounts' %>">
      <a href="#automounts" data-toggle="tab"
	 style="<%= if (@automounts.empty?) then 
		'color: green' else 'color: red' end %>">Automounts</a></li>
    <li class="<%= 'active' if params[:tab] == 'nagios' %>">
      <a href="#nagios" data-toggle="tab"
	 style="<%= if (@nagios_entries.empty?) then 
		'color: green' else 'color: red' end %>">Nagios</a></li>
    <li class="<%= 'active' if params[:tab] == 'rt' %>">
      <a href="#rt" data-toggle="tab"
	 style="<%= unless @operations_check.rt_check.blank? then 
		'color: green' else 'color: red' end %>">RT</a></li>
    <li class="<%= 'active' if params[:tab] == 'load_balancers' %>">
      <a href="#load_balancers" data-toggle="tab"
	 style="<%= if (@load_balancers.empty?) then 
		'color: green' else 'color: red' end %>">Load Balancers</a></li>
    <li class="<%= 'active' if params[:tab] == 'ldap' %>">
      <a href="#ldap" data-toggle="tab"
	 style="<%= if (@ldap_entries.empty?) then 
		'color: green' else 'color: red' end %>">LDAP</a></li>
    <li class="<%= 'active' if params[:tab] == 'packages' %>">
      <a href="#packages" data-toggle="tab"
	 style="<%= unless (@operations_check.packages_check.blank?) then 
		'color: green' else 'color: red' end %>">Packages</a></li>
  </ul>
  
  <div class="tab-content">
    <!-- BEGIN lab checks tab --> 
    <div class="<%= if (params[:tab] == 'labs' || !params[:tab])
		then 'tab-pane active' else 'tab-pane' end %>" id="labs">
      <div class="row">
	<div class="span10">
	  <p>
	    Go to each room listed on this page and log in to 3
	    machines using your MyID.  Also make sure to tidy up the
	    room.  If you cannot log in to a machine make sure that
	    your MyID has not been disabled first before making a
	    ticket.
	  </p>
	  <br/>
	</div>
      </div>

      <div class="hidden-phone">
	<% unless @operations_check.lab_checks.empty? %>
	<div class="ops-check-divider">
	  <table class="table table-striped">
	    <thead>
	      <tr>
		<th>Name</th>
		<th>M1</th>
		<th>Ticket</th>
		<th>M2</th>
		<th>Ticket</th>
		<th>M3</th>
		<th>Ticket</th>
		<th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @operations_check.lab_checks.each do |lab_check| %>
	      <% unless lab_check.id.nil? %>
	      <tr>
		<td><%= lab_check.lab_name %></td>
		<td style="<%= if lab_check.machine1_passed? then
			   'color: green' else 'color: red' end %>">
		  <%= lab_check.machine1_name %></td>
		<td><%= lab_check.machine1_ticket %></td>
		<td style="<%= if lab_check.machine2_passed? then 
			   'color: green' else 'color: red' end %>">
                  <%= lab_check.machine2_name %></td>
		<td><%= lab_check.machine2_ticket %></td>
		<td style="<%= if lab_check.machine3_passed? then 
			   'color: green' else 'color: red' end %>">
                  <%= lab_check.machine3_name %></td>
		<td><%= lab_check.machine3_ticket %></td>
		<td><%= link_to 'Remove',
			operations_check_lab_check_path(@operations_check,
			lab_check), method: :delete, class: 'btn
			btn-mini btn-danger' %></td>
	      </tr>
	      <% end %> <% end %>
	    </tbody>
	  </table>
	</div>
	<% end %>

	<% @labs.each do |lab| %>
	<% next if @operations_check.lab_checks.select("lab_name").map(&:lab_name).include? lab.name %>
	<%= form_for([@operations_check, @operations_check.lab_checks.build]) do |f| %>
	<h3 style="margin-bottom: 0px"><%= lab.name %></h3>
	<div class="row">
	  <%= f.hidden_field :lab_name %>
	  <%= hidden_field_tag 'lab_name', lab.name %>
	  <div class="span4">
	    <div class="control-group">
	      <h5>Machine 1</h5>
	      <div class="controls">
		<%= f.collection_select(:machine1_name, lab.machines, :name, :name, 
		    {}, { :class => 'collection-select' }) %>
		<%= f.check_box :machine1_passed, :class => 'lab-check-box'  %>
	      </div>
	    </div>
	  </div>
	  <div class="span4">
	    <div class="control-group">
	      <h5>Machine 2</h5>
	      <div class="controls">
		<%= f.collection_select(:machine2_name, lab.machines, :name, :name,
		    {}, { :class => 'collection-select' }) %>
		<%= f.check_box :machine2_passed, :class => 'lab-check-box'  %>
	      </div>
	    </div>	
	  </div>
	  <div class="span4">
	    <div class="control-group">
	      <h5>Machine 3</h5>
	      <div class="controls">
		<%= f.collection_select(:machine3_name, lab.machines, :name, :name,
		    {}, { :class => 'collection-select' })%>
		<%= f.check_box :machine3_passed, :class => 'lab-check-box'  %>
	      </div>
	    </div>
	  </div>
	</div>
	
	<div class="row">
	  <div class="span4">
	    <div class="control-group">
              <h5>Ticket Number</h5>
              <div class="controls">
		<%= f.number_field :machine1_ticket, :style => 'width: 100px' %>
              </div>
            </div>
	  </div>
	  <div class="span4">
	    <div class="control-group">
              <h5>Ticket Number</h5>
              <div class="controls">
		<%= f.number_field :machine2_ticket, :style => 'width: 100px' %>
              </div>
            </div>
	  </div>
	  <div class="span4">
	    <div class="control-group">
              <h5>Ticket Number</h5>
              <div class="controls">
		<%= f.number_field :machine3_ticket, :style => 'width: 100px' %>
              </div>
            </div>
	  </div>
	</div>
	<div class="actions" style="padding-bottom: 10px;
				    border-bottom: 1px solid #eeeeee">
          <%= f.submit "Create Check", :class => 'btn btn-primary' %>
	</div>
	<% end %>
	<% end %>
      </div>

      <div class="visible-phone">
	<% unless @operations_check.lab_checks.empty? %>
	<div class="ops-check-divider">
	  <table class="table table-striped">
	    <thead>
	      <tr>
		<th>Name</th>
		<th>M1</th>
		<th>M2</th>
		<th>M3</th>
		<th></th>
	      </tr>
	    </thead>
	    <tbody>
	      <% @operations_check.lab_checks.each do |lab_check| %>
	      <% unless lab_check.id.nil? %>
	      <tr>
		<td><%= lab_check.lab_name %></td>
		<td style="<%= if lab_check.machine1_passed? then
			   'color: green' else 'color: red' end %>">
		  <%= lab_check.machine1_name.scan(/\d+$/).last %></td>
		<td style="<%= if lab_check.machine2_passed? then 
			   'color: green' else 'color: red' end %>">
                  <%= lab_check.machine2_name.scan(/\d+$/).last %></td>
		<td style="<%= if lab_check.machine3_passed? then 
			   'color: green' else 'color: red' end %>">
                  <%= lab_check.machine3_name.scan(/\d+$/).last %></td>
		<td><%= link_to 'Remove',
			operations_check_lab_check_path(@operations_check,
			lab_check), method: :delete, class: 'btn
			btn-mini btn-danger' %></td>
	      </tr>
	      <% end %> 
	      <% end %>
	    </tbody>
	  </table>
	</div>
	<% end %>
	
	<% @labs.each do |lab| %>
	<% next if @operations_check.lab_checks.select("lab_name").map(&:lab_name).include? lab.name %>
	<%= form_for([@operations_check, @operations_check.lab_checks.build]) do |f| %>
	<h3 style="margin-bottom: 0px"><%= lab.name %></h3>
	<%= f.hidden_field :lab_name %>
	<%= hidden_field_tag 'lab_name', lab.name %>
	<div class="control-group">
	  <h5>Machine 1</h5>
	  <div class="controls">
	    <%= f.collection_select(:machine1_name, lab.machines, :name, :name, 
		{}, { :class => 'collection-select' }) %>
	    <%= f.check_box :machine1_passed, :class => 'lab-check-box-phone' %>
	    <%= f.number_field :machine1_ticket, :style => 'width: 100px' %>
	  </div>
	</div>
	<div class="control-group">
	  <h5>Machine 2</h5>
	  <div class="controls">
	    <%= f.collection_select(:machine2_name, lab.machines, :name, :name,
		{}, { :class => 'collection-select' }) %>
	    <%= f.check_box :machine2_passed, :class => 'lab-check-box-phone' %>
	    <%= f.number_field :machine2_ticket, :style => 'width: 100px' %>
	  </div>
	</div>
	<div class="control-group">
	  <h5>Machine 3</h5>
	  <div class="controls">
	    <%= f.collection_select(:machine3_name, lab.machines, :name, :name,
		{}, { :class => 'collection-select' })%>
	    <%= f.check_box :machine3_passed, :class => 'lab-check-box-phone' %>
	    <%= f.number_field :machine3_ticket, :style => 'width: 100px' %>
	  </div>
	</div>
	<br/>
	<div class="actions" style="padding-bottom: 10px;
				    border-bottom: 1px solid #eeeeee">
          <%= f.submit "Create Check", :class => 'btn btn-block btn-primary' %>
	</div>
	<% end %>
	<% end %>
      </div>
    </div>
    <!-- END lab checks tab -->
    
    <!-- BEGIN printer checks tab -->
    <div class="<%= if params[:tab] == 'printers'
		then 'tab-pane active' else 'tab-pane' end %>" id="printers">
      <div class="row">
        <div class="span10">
          <p>
	    Use the Windows 7 VM's on one of the Macs in the office
	    and print test pages to each printer. Make sure that
	    none of the test pages have smears or smudges, no paper
	    jams occurred, and that all the printers are fully
	    stocked with paper. Once you've collected all the test
	    pages order them top to bottom by room number, sign the
	    top page, staple them, and then add them to the print
	    check binder.
          </p>
          <br/>
        </div>
      </div>
      
      <% unless @operations_check.printer_checks.empty? %>
      <div class="ops-check-divider">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Ticket</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @operations_check.printer_checks.each do |printer_check| %>
	    <% unless printer_check.id.nil? %>
	    <tr>
	      <td style="<%= if printer_check.passed? then 
			 'color: green' else 'color: red' end %>">
                <%= printer_check.name %></td>
	      <td><%= printer_check.ticket %></td>
	      <td><%= link_to 'Remove', 
		      operations_check_printer_check_path(@operations_check, printer_check), 
		      method: :delete, class: 'btn btn-mini btn-danger' %></td>
            </tr>
	    <% end %>
	    <% end %>
	  </tbody>
	</table>
      </div>
      <% end %>
      
      <div class="hidden-phone">
      <% unless @printers.empty? %>
      <%= form_for([@operations_check, @operations_check.printer_checks.build]) do |f| %>
	<div class="control-group">
	  <h5>Printer Name</h5>
	  <div class="controls">
            <%= f.collection_select :name, @printers, :to_s, :to_s,
		{}, { :class => 'collection-select' } %>
	    <%= f.check_box :passed, :class => 'lab-check-box' %>
	  </div>
	</div>	
	<div class="control-group">
          <h5>Ticket Number</h5>
          <div class="controls">
            <%= f.number_field :ticket, :style => 'width: 100px' %>
          </div>
	</div>
	<div class="actions">
	  <%= f.submit "Create Check", :class => 'btn btn-primary' %>
	</div>
	<% end %>
	<% end %>
      </div>

      <div class="visible-phone">
	<% unless @printers.empty? %>
	<%= form_for([@operations_check, @operations_check.printer_checks.build]) do |f| %>
	<div class="control-group">
	  <h5>Printer Name</h5>
	  <div class="controls">
            <%= f.collection_select :name, @printers, :to_s, :to_s,
		{}, { :class => 'collection-select' } %>
	    <%= f.check_box :passed, :class => 'lab-check-box-phone' %>
	    <%= f.number_field :ticket, :style => 'width: 100px' %>
	  </div>
	</div>
	<br/>
	<div class="actions">
	  <%= f.submit "Create Check", :class => 'btn btn-block btn-primary' %>
	</div>
	<% end %>
	<% end %>
      </div>
    </div>
    <!-- END printer checks tab -->

    <!-- BEGIN automounts checks tab -->
    <div class="<%= if params[:tab] == 'automounts'
		then 'tab-pane active' else 'tab-pane' end %>" id="automounts">
      <div class="row">
        <div class="span10">
          <p>
	    Open a shell and type automountChecks. Record the
	    results in this check. dmzlegacyshells must pass for
	    fileserver001 - 006. All other shells need to pass for
	    cloudstorage001, 002, and 005. If they don't make a
	    ticket.
          </p>
          <br/>
        </div>
      </div>

      <% unless @operations_check.automount_checks.empty? %>
      <div class="ops-check-divider">
	<table class="table table-striped">
          <thead>
            <tr>
	      <th>Name</th>
	      <th>Ticket</th>
	      <th></th>
            </tr>
          </thead>
          <tbody>
            <% @operations_check.automount_checks.each do |automount_check| %>
            <% unless automount_check.id.nil? %>
            <tr>
	      <td style="<%= if automount_check.passed? then
			 'color: green' else 'color: red' end %>">
                <%= automount_check.name %></td>
	      <td><%= automount_check.ticket %></td>
	      <td><%= link_to 'Remove',
		      operations_check_automount_check_path(@operations_check, automount_check),
		      method: :delete, class: 'btn btn-mini btn-danger' %></td>
            </tr>
	    <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>

      <div class="hidden-phone">
	<% unless @automounts.empty? %>
	<%= form_for([@operations_check, @operations_check.automount_checks.build]) do |f| %>
	<div class="control-group">
	  <h5>Automount Name</h5>
          <div class="controls">
            <%= f.collection_select :name, @automounts, :to_s, :to_s %>
	    <%= f.check_box :passed, :class => 'lab-check-box' %>
          </div>
	</div>
	<div class="control-group">
          <h5>Ticket Number</h5>
          <div class="controls">
            <%= f.number_field :ticket, :style => 'width: 100px' %>
          </div>
	</div>
	<div class="actions">
          <%= f.submit "Create Check", :class => 'btn btn-primary' %>
	</div>
	<% end %>
	<% end %>
      </div>

      <div class="visible-phone">
	<% unless @automounts.empty? %>
	<%= form_for([@operations_check, @operations_check.automount_checks.build]) do |f| %>
	<div class="control-group">
	  <h5>Automount Name</h5>
          <div class="controls">
            <%= f.collection_select :name, @automounts, :to_s, :to_s,
		{}, { :class => 'collection-select' } %>
	    <%= f.check_box :passed, :class => 'lab-check-box-phone' %>
            <%= f.number_field :ticket, :style => 'width: 100px' %>
          </div>
	</div>
	<br/>
	<div class="actions">
          <%= f.submit "Create Check", :class => 'btn btn-block btn-primary' %>
	</div>
	<% end %>
	<% end %>
      </div>
    </div>
    <!-- END automounts checks tab -->

    <!-- BEGIN nagios checks tab -->
    <div class="<%= if params[:tab] == 'nagios'
		then 'tab-pane active' else 'tab-pane' end %>" id="nagios">
      <div class="row">
        <div class="span10">
          <p>
	    Check the server and lab nagios dashboards for any
	    alerts or warnings. If it's a minor issue that can be
	    fixed quickly then fix the machine. If not create a
	    ticket for the machine and put it in downtime. You
	    shouldn't fail this check unless one of the nagios's are
	    down.
          </p>
          <br/>
        </div>
      </div>
      
      <% unless @operations_check.nagios_checks.empty? %>
      <div class="ops-check-divider">
	<table class="table table-striped">
          <thead>
	    <tr>
	      <th>Name</th>
	      <th>Ticket</th>
	      <th></th>
	    </tr>
          </thead>
          <tbody>
	    <% @operations_check.nagios_checks.each do |nagios_check| %>
	    <% unless nagios_check.id.nil? %>
	    <tr>
	      <td style="<%= if nagios_check.passed? then 
			 'color: green' else 'color: red' end %>">
                <%= nagios_check.name %></td>
	      <td><%= nagios_check.ticket %></td>
	      <td><%= link_to 'Remove',
		      operations_check_nagios_check_path(@operations_check, nagios_check),
		      method: :delete, class: 'btn btn-mini btn-danger' %></td>
	    </tr>
	    <% end %>
	    <% end %>
          </tbody>
        </table>
      </div>
      <% end %>

      <div class="hidden-phone">
	<% unless @nagios_entries.empty? %>
	<%= form_for([@operations_check, @operations_check.nagios_checks.build]) do |f| %>
	<div class="control-group">
	  <h5>Name</h5>
          <div class="controls">
            <%= f.collection_select :name, @nagios_entries, :to_s, :to_s %>
	    <%= f.check_box :passed, :class => 'lab-check-box' %>
	  </div>
	</div>
	<div class="control-group">
	  <h5>Ticket Number</h5>
	  <div class="controls">
            <%= f.number_field :ticket, :style => 'width: 100px' %>
	  </div>
	</div>
	<div class="actions">
	  <%= f.submit "Create Check", :class => 'btn btn-primary' %>
	</div>
	<% end %>
	<% end %>
      </div>

      <div class="visible-phone">
	<% unless @nagios_entries.empty? %>
	<%= form_for([@operations_check, @operations_check.nagios_checks.build]) do |f| %>
	<div class="control-group">
	  <h5>Name</h5>
          <div class="controls">
            <%= f.collection_select :name, @nagios_entries, :to_s, :to_s,
		{}, { :class => 'collection-select' } %>
	    <%= f.check_box :passed, :class => 'lab-check-box-phone' %>
	    <%= f.number_field :ticket, :style => 'width: 100px' %>
	  </div>
	</div>
	<br/>
	<div class="actions">
	  <%= f.submit "Create Check", :class => 'btn btn-block btn-primary' %>
	</div>
	<% end %>
	<% end %>
      </div>
    </div>
    <!-- END nagios checks tab -->

    <!-- BEGIN request tracker check tab -->
    <div class="<%= if params[:tab] == 'rt'
		then 'tab-pane active' else 'tab-pane' end %>" id="rt">
      <div class="row">
	<div class="span10">
	  <h3>rt002</h3>
          <p>
            Email the helpdesk from your work email and make sure a
            ticket was created from your email. The subject should
            have the format:
          </p>
	  <p><i>inf-co checks - [day],[month][date][year] - [time inf-co was executed]</i></p>
	  <p>
	    Create a ticket describing the problem and notify
	    management plus internal techs if your email didn't
	    generate a ticket.
            <br/>
        </div>
      </div>
      
      <% unless @operations_check.rt_check.nil? %>
      <div class="ops-check-divider">
	<table class="table table-striped">
          <thead>
	    <tr>
	      <th>Name</th>
	      <th>Ticket</th>
	      <th></th>
	    </tr>
          </thead>
          <tbody>
	    <tr>
	      <td style="<%= if @operations_check.rt_check.passed? then 
			 'color: green' else 'color: red' end %>">
                <%= @operations_check.rt_check.name %></td>
	      <td><%= @operations_check.rt_check.ticket %></td>
	      <td><%= link_to 'Remove', operations_check_rt_check_path(@operations_check, @operations_check.rt_check), method: :delete, class: 'btn btn-mini btn-danger' %></td>
	    </tr>
          </tbody>
        </table>
      </div>
      <% end %>

      <div class="hidden-phone">
	<% if @operations_check.rt_check.nil? %> 
	<%= form_for([@operations_check, @operations_check.build_rt_check]) do |f| %>
	<%= f.hidden_field :name %>
	<%= hidden_field_tag 'name', 'rt002' %>
	<div class="control-group">
	  <h5>Ticket Number</h5>
          <div class="controls">
            <%= f.number_field :ticket, :style => 'width: 100px' %>
	    <%= f.check_box :passed, :class => 'lab-check-box' %>
	  </div>
	</div>
	<div class="actions">
	  <%= f.submit "Create Check", :class => 'btn btn-primary' %>
	</div>
	<% end %>      
	<% end %>
      </div>

      <div class="visible-phone">
	<% if @operations_check.rt_check.name.nil? %> 
	<%= form_for([@operations_check, @operations_check.build_rt_check]) do |f| %>
	<%= f.hidden_field :name %>
	<%= hidden_field_tag 'name', 'rt002' %>
	<div class="control-group">
	  <h5>Ticket Number</h5>
          <div class="controls">
            <%= f.number_field :ticket, :style => 'width: 100px' %>
	    <%= f.check_box :passed, :class => 'lab-check-box-phone' %>
	  </div>
	</div>
	<br/>
	<div class="actions">
	  <%= f.submit "Create Check", :class => 'btn btn-block btn-primary' %>
	</div>
	<% end %>      
	<% end %>
      </div>
    </div>
    <!-- END request tracker check tab -->

    <!-- BEGIN load_balancers check tab -->
    <div class="<%= if params[:tab] == 'load_balancers'
		then 'tab-pane active' else 'tab-pane' end %>" id="load_balancers">
      <div class="row">
        <div class="span10">
          <p>
            SSH to the load balancer for proprietary and regular
            shells to see if you get redirected to a shell.
          </p>
	  <p>$ ssh -p20110 shell.lcsee.wvu.edu</p>
	  <p>$ ssh -p20110 proprietary.lcsee.wvu.edu</p>
	  <p>
	    If you don't make a ticket with your terminal output
	    included and mark this check as failed.
	  </p>
          <br/>
        </div>
      </div>

      <% unless @operations_check.load_balancer_checks.empty? %>
      <div class="ops-check-divider">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Ticket</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @operations_check.load_balancer_checks.each do |load_balancer_check| %>
	    <% unless load_balancer_check.id.nil? %>
	    <tr>
	      <td style="<%= if load_balancer_check.passed? then 
			 'color: green' else 'color: red' end %>">
                <%= load_balancer_check.name %></td>
	      <td><%= load_balancer_check.ticket %></td>
	      <td><%= link_to 'Remove', 
		      operations_check_load_balancer_check_path(@operations_check, load_balancer_check),
		      method: :delete, class: 'btn btn-mini btn-danger' %></td>
            </tr>
	    <% end %>
	    <% end %>
	  </tbody>
	</table>
      </div>
      <% end %>
      
      <div class="hidden-phone">
	<% unless @load_balancers.empty? %>
	<%= form_for([@operations_check, @operations_check.load_balancer_checks.build]) do |f| %>
	<div class="control-group">
	  <h5>Load Balancer Name</h5>
	  <div class="controls">
            <%= f.collection_select :name, @load_balancers, :to_s, :to_s %>
	    <%= f.check_box :passed, :class => 'lab-check-box' %>
	  </div>
	</div>	
	<div class="control-group">
          <h5>Ticket Number</h5>
          <div class="controls">
            <%= f.number_field :ticket, :style => 'width: 100px' %>
          </div>
	</div>
	<div class="actions">
	  <%= f.submit "Create Check", :class => 'btn btn-primary' %>
	</div>
	<% end %>
	<% end %>
      </div>

      <div class="visible-phone">
	<% unless @load_balancers.empty? %>
	<%= form_for([@operations_check, @operations_check.load_balancer_checks.build]) do |f| %>
	<div class="control-group">
	  <h5>Load Balancer Name</h5>
	  <div class="controls">
            <%= f.collection_select :name, @load_balancers, :to_s, :to_s,
		{}, { :class => 'collection-select' } %>
	    <%= f.check_box :passed, :class => 'lab-check-box-phone' %>
	    <%= f.number_field :ticket, :style => 'width: 100px' %>
          </div>
	</div>	
	<br/>
	<div class="actions">
	  <%= f.submit "Create Check", :class => 'btn btn-block btn-primary' %>
	</div>
	<% end %>
	<% end %>
      </div>
    </div>
    <!-- END load_balancers check tab -->

    <!-- BEGIN ldap checks tab -->
    <div class="<%= if params[:tab] == 'ldap'
		then 'tab-pane active' else 'tab-pane' end %>" id="ldap">
      <div class="row">
        <div class="span10">
          <p>
            This is a check to make sure LDAP can read and write properly. Open a terminal and type the following commands sequentially. 
	  </p>
          <p>$ lcsee-ldap-infco --init</p>
          <p>$ lcsee-ldap-infco --check</p>
          <p>$ lcsee-ldap-infco --clean</p>
          <p>
	    If syncrepl fails for any of the ldapconsumer's, make a
	    ticket and mark it as failed here.
          </p>
          <br/>
        </div>
      </div>

      <% unless @operations_check.ldap_checks.empty? %>
      <div class="ops-check-divider">
	<table class="table table-striped">
          <thead>
            <tr>
	      <th>Name</th>
	      <th>Ticket</th>
	      <th></th>
            </tr>
          </thead>
          <tbody>
            <% @operations_check.ldap_checks.each do |ldap_check| %>
            <% unless ldap_check.id.nil? %>
            <tr>
	      <td style="<%= if ldap_check.passed? then
			 'color: green' else 'color: red' end %>">
                <%= ldap_check.name %></td>
	      <td><%= ldap_check.ticket %></td>
	      <td><%= link_to 'Remove',
		      operations_check_ldap_check_path(@operations_check, ldap_check),
		      method: :delete, class: 'btn btn-mini btn-danger' %></td>
            </tr>
	    <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>

      <div class="hidden-phone">
	<% unless @ldap_entries.empty? %>
	<%= form_for([@operations_check, @operations_check.ldap_checks.build]) do |f| %>
	<div class="control-group">
	  <h5>LDAP Server Name</h5>
          <div class="controls">
            <%= f.collection_select :name, @ldap_entries, :to_s, :to_s %>
	    <%= f.check_box :passed, :class => 'lab-check-box' %>
          </div>
	</div>
	<div class="control-group">
          <h5>Ticket Number</h5>
          <div class="controls">
            <%= f.number_field :ticket, :style => 'width: 100px' %>
          </div>
	</div>
	<div class="actions">
          <%= f.submit "Create Check", :class => 'btn btn-primary' %>
	</div>
	<% end %>
	<% end %>
      </div>

      <div class="visible-phone">
	<% unless @ldap_entries.empty? %>
	<%= form_for([@operations_check, @operations_check.ldap_checks.build]) do |f| %>
	<div class="control-group">
	  <h5>LDAP Server Name</h5>
          <div class="controls">
            <%= f.collection_select :name, @ldap_entries, :to_s, :to_s,
		{}, { :class => 'collection-select' } %>
	    <%= f.check_box :passed, :class => 'lab-check-box-phone' %>
            <%= f.number_field :ticket, :style => 'width: 100px' %>
          </div>
	</div>
	<br/>
	<div class="actions">
          <%= f.submit "Create Check", :class => 'btn btn-block btn-primary' %>
	</div>
	<% end %>
	<% end %>
      </div>
    </div>
    <!-- END ldap checks tab -->
    
    <!-- BEGIN package checks tab -->
    <div class="<%= if params[:tab] == 'packages'
		then 'tab-pane active' else 'tab-pane' end %>" id="packages">
      <div class="row">
        <div class="span10">
	  <h3>Packages</h3>
          <p>
            This check should never be marked as fail but should
            never be marked as a pass if packages were not
            checked. If the person responsible for them today isn't
            here then do them yourself. If the person responsible is
            present then kindly ask them to do them so you can mark
            this as passed. If it's past 2PM and they still haven't
            been done then you have permission to fry whoever was on
            the schedule.
          </p>
          <br/>
        </div>
      </div>

      <% unless @operations_check.packages_check.nil? %>
      <div class="ops-check-divider">
	<table class="table table-striped">
          <thead>
	    <tr>
	      <th>Name</th>
	      <th>Ticket</th>
	      <th></th>
	    </tr>
          </thead>
          <tbody>
	    <tr>
	      <td style="<%= if @operations_check.packages_check.passed? then 
			 'color: green' else 'color: red' end %>">
                <%= @operations_check.packages_check.name %></td>
	      <td><%= @operations_check.packages_check.ticket %></td>
	      <td><%= link_to 'Remove', operations_check_packages_check_path(@operations_check, @operations_check.packages_check), method: :delete, class: 'btn btn-mini btn-danger' %></td>
	    </tr>
          </tbody>
        </table>
      </div>
      <% end %>

      <div class="hidden-phone">
	<% if @operations_check.packages_check.nil? %> 
	<%= form_for([@operations_check, @operations_check.build_packages_check]) do |f| %>
	<%= f.hidden_field :name %>
	<%= hidden_field_tag 'name', 'Packages' %>
	<div class="control-group">
	  <h5>Ticket Number</h5>
          <div class="controls">
            <%= f.number_field :ticket, :style => 'width: 100px' %>
	    <%= f.check_box :passed, :class => 'lab-check-box' %>
	  </div>
	</div>
	<div class="actions">
	  <%= f.submit "Create Check", :class => 'btn btn-primary' %>
	</div>
	<% end %>      
	<% end %>
      </div>

      <div class="visible-phone">
	<% if @operations_check.packages_check.name.nil? %> 
	<%= form_for([@operations_check, @operations_check.build_packages_check]) do |f| %>
	<%= f.hidden_field :name %>
	<%= hidden_field_tag 'name', 'Packages' %>
	<div class="control-group">
	  <h5>Ticket Number</h5>
          <div class="controls">
            <%= f.number_field :ticket, :style => 'width: 100px' %>
	    <%= f.check_box :passed, :class => 'lab-check-box-phone' %>
	  </div>
	</div>
	<br/>
	<div class="actions">
	  <%= f.submit "Create Check", :class => 'btn btn-block btn-primary' %>
	</div>
	<% end %>      
	<% end %>
      </div>
    </div>
  </div>
</div> 

<div class="form-actions">
  <div class="hidden-phone">
    <%= link_to 'Back', operations_checks_path, :class => 'btn' %>
    <% if @operations_check.signed_off_by.blank? %>
    <%= link_to 'Sign off on this check', 
	sign_off_operations_check_path(@operations_check), 
	:class => 'btn btn-success' %>
    <% end %>
    <%= link_to 'Destroy', @internal_check,
	method: :delete, data: { confirm: 'Are you sure you want to delete this check?' },
	class: 'btn btn-danger' %>
  </div>
  <div class="visible-phone">
    <br/>
    <%= link_to 'Back', operations_checks_path, :class => 'btn btn-block' %>
    <% if @operations_check.signed_off_by.blank? %><br/>
    <%= link_to 'Sign off on this check', 
	sign_off_operations_check_path(@operations_check), 
	:class => 'btn btn-block btn-success' %>
    <% end %><br/>
    <%= link_to 'Destroy', @internal_check,
	method: :delete, data: { confirm: 'Are you sure you want to delete this check?' },
	class: 'btn btn-block btn-danger' %><br/>
  </div>
</div>
