<div class="page-header">
  <h1>Nagios</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nagios_entries.each do |nagios_entry| %>
    <tr>
      <td><%= nagios_entry.name %></td>
      <td><%= link_to 'Edit', edit_nagios_entry_path(nagios_entry), :class => 'btn btn-mini' %></td>
      <td>
        <%= link_to 'Delete', nagios_entry,
            method: :delete, data: { confirm: 'Are you sure?' },
            :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<div class="form-actions">
  <%= link_to 'Add Nagios Entry', new_nagios_entry_path, :class => 'btn btn-primary' %>
  <%= link_to 'Back', admin_tools_path,:class => 'btn'%>
</div>
