<div class="visible-phone">
  <% unless load_balancers.empty? %>
  <%= form_for([operations_check, operations_check.load_balancer_checks.build]) do |f| %>
  <div class="control-group">
    <h5>Load Balancer Name</h5>
    <div class="controls">
      <%= f.collection_select :name, load_balancers, :to_s, :to_s,
          {}, { :class => 'collection-select' } %>
      <%= f.check_box :passed, :class => 'lab-check-box-phone' %>
      <%= f.number_field :ticket, :style => 'width: 100px' %>
    </div>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Create Check", :class => 'btn btn-block btn-primary' %>
  </div>
  <% end %>
  <% end %>
</div>
