<div class="page-header">
  <h1>Office Cleanings</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Start date</th>
      <th>End date</th>
      <th>Person</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @office_cleanings_schedules.each do |office_cleanings_schedule| %>
    <tr>
      <td><%= office_cleanings_schedule.start_date %></td>
      <td><%= office_cleanings_schedule.end_date %></td>
      <td><%= office_cleanings_schedule.person %></td>
      <td><%= link_to 'Edit', edit_office_cleanings_schedule_path(office_cleanings_schedule), 
	      :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', office_cleanings_schedule, method: :delete, 
	      data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to 'Back', admin_tools_path, :class => 'btn' %>
  <%= link_to 'New Office cleanings schedule', new_office_cleanings_schedule_path,
      :class => 'btn btn-primary'%>
</div>
