<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @reloud_check.name %>
</p>

<p>
  <b>Date:</b>
  <%= @reloud_check.date %>
</p>

<p>
  <b>Owner:</b>
  <%= @reloud_check.owner %>
</p>


<%= link_to 'Edit', edit_reloud_check_path(@reloud_check) %> |
<%= link_to 'Back', reloud_checks_path %>
