<%= form_for(@loud_check) do |f| %>
  <% if @loud_check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loud_check.errors.count, "error") %> prohibited this loud_check from being saved:</h2>

      <ul>
      <% @loud_check.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="controls">
    <%= f.label :ticket %>
    <div class="control-group">
      <%= f.number_field :ticket %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "Back", loud_checks_path, :class => 'btn' %>
  </div>
<% end %>
