<%= form_for(@backup_entry) do |f| %>
  <% if @backup_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@backup_entry.errors.count, "error") %> prohibited this backup_entry from being saved:</h2>

      <ul>
      <% @backup_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="controls">
    <%= f.label :name %>
    <div class="control-group">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Back', backup_entries_path, :class => 'btn' %>
  </div>
<% end %>
