<h1>Listing packages_checks</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @packages_checks.each do |packages_check| %>
  <tr>
    <td><%= packages_check.name %></td>
    <td><%= link_to 'Show', packages_check %></td>
    <td><%= link_to 'Edit', edit_packages_check_path(packages_check) %></td>
    <td><%= link_to 'Destroy', packages_check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Packages check', new_packages_check_path %>
