<%= form_for(@space_check) do |f| %>
  <% if @space_check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space_check.errors.count, "error") %> prohibited this space_check from being saved:</h2>

      <ul>
      <% @space_check.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :passed %><br />
    <%= f.check_box :passed %>
  </div>
  <div class="field">
    <%= f.label :ticket_number %><br />
    <%= f.number_field :ticket_number %>
  </div>
  <div class="field">
    <%= f.label :internal_check %><br />
    <%= f.text_field :internal_check %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
