<div class="page-header">
  <h1>Internal Checks: 
    <% if params[:search].nil? %>
    Latest Archives
    <% else %>
    <%= if params[:search] == 'all' then 'All Archives'
        else "Archives for #{params[:search]}" end %>
    <% end %>
  </h1>
</div>

<span class="visible-phone">
  <div align="center">
    <%= form_tag internal_checks_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search],
	:style => 'margin-top: 10px; width: 220px' %>
    <%= submit_tag "Search", :name => nil, :class => 'btn' %>
    <%= link_to 'View All', internal_checks_path(:search => 'all'), :class => 'btn' %>
    <% end %>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Date</th>
	<th>Owner</th>
	<th>Signed off by</th>
	<th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @internal_checks.each do |internal_check| %>
      <tr>
	<td><%= internal_check.created_at.strftime("%m-%d") %></td>
	<td><%= internal_check.owner %></td>
	<td><%= internal_check.signed_off_by %></td>
	<td><%= link_to 'View', internal_check_path(internal_check), class: 'btn btn-mini' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</span>

<span class="hidden-phone">
  <div align="right" class="row">
    <div class="span11">
      <%= form_tag internal_checks_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search],
          :style => 'margin-top: 10px; width: 150px' %>
      <%= submit_tag "Search", :name => nil, :class => 'btn' %>
      <%= link_to 'View All', internal_checks_path(:search => 'all'), :class => 'btn' %>
      <% end %>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
	<th>Passed?</th>
	<th>Date</th>
	<th>Owner</th>
	<th>Signed off by</th>
	<th></th>
	<th></th>
	<th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @internal_checks.each do |internal_check| %>
      <tr>
	<% if internal_check.passed? %>
	<td><%= image_tag("pass.png", size: "24x24") %></td>
	<% else %>  
	<td><%= image_tag("fail.png", size: "24x24") %></td>
	<% end %>
	<td><%= internal_check.created_at.strftime("%m-%d-%Y") %></td>
	<td><%= internal_check.owner %></td>
	<td><%= internal_check.signed_off_by %></td>
	<td><%= link_to 'View', internal_check_path(internal_check), class: 'btn btn-mini' %></td>
	<td>
	  <% if internal_check.owner == current_user.login %>
	  <%= link_to 'Destroy', internal_check, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %>
	<% end %>
      	</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</span>
