
<div class="span2">
  <div class="sidebar-nav-fixed" data-spy="affix" data-offset-top="140">
    <ul class="nav nav-list">
      <h5>CREATE</h5>
      <li><%= link_to 'Daily Check', {controller: "internal_checks", action: "new"} %></li>
      <li><a href="#">ReLOUD</a></li>
      <li class="divider"></li>
      <li><a href="#">ReLOUD Archives</a></li>
    </ul>
  </div>
</div>

<div class="span10">
  <div class="page-header">
    <h1>Internal Checks</h1>
  </div>

  <table class="table table-striped">
    <tr>
      <th>Passed?</th>
      <th>Date</th>
      <th>Owner</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @internal_checks.each do |internal_check| %>
    <tr>
      <% if internal_check.passed? %>
      <td><%= image_tag("pass.png", size: "24x24") %></td>
      <% else %>  
      <td><%= image_tag("fail.png", size: "24x24") %></td>
      <% end %>
      <td><%= internal_check.date %></td>
      <td><%= internal_check.owner %></td>
      <td><%= link_to 'View', internal_check_path(internal_check), class: 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', internal_check, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end %>
  </table>

  <br />

</div>
