<%- model_class = InternalCheck -%>

<div class="page-header">
  <h1><%= @internal_check.date %> : <%= @internal_check.owner %></h1>
</div>

<% unless notice.nil? %>
<div class="alert">
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<div class="row-fluid">
  <div class="span5">
    <div class="page-header">
      <h3>Backup Failures</h3>
    </div>

    <%= form_for([@internal_check, @internal_check.backup_checks.build]) do |f| %>      
    <div class="control-group">
      <%= f.label :name %>
      <div class="controls">
	<%= f.collection_select :name, @backup_entries, :name, :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :ticket_number %>
      <div class="controls">
	<%= f.number_field :ticket_number, :value => 210000 %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Report Backup Failure", :class => 'btn btn-primary' %>
    </div>
    <% end %>

    <table class="table table-striped">
      <thead>
	<tr>
	  <th>Instance</th>
	  <th>RT ticket #</th>
	  <th></th>
	</tr>
      </thead>

      <tbody>
	<% @internal_check.backup_checks.each do |backup_check| %>
	<% unless backup_check.id.nil? %>
	<tr>
	  <td><%= backup_check.name %></td>
	  <td><%= backup_check.ticket_number %></td>
	  <td>
	  <%= link_to "Delete", 
	      internal_check_backup_check_path(backup_check.internal_check_id, backup_check.id), 
	      data: { confirm: "Are you sure?" }, method: :delete, 
	      :class => 'btn btn-mini btn-danger' %>
	  </td>
	</tr>
	<% end %>
	<% end %>
      </tbody>
    </table>
  </div>

  <div class="span5">
    <div class="page-header">
      <h3>Disk Space Failures</h3>
    </div>
    
    <%= form_for([@internal_check, @internal_check.space_checks.build]) do |f| %>
    <div class="control-group">
      <%= f.label :name %>
      <div class="controls">
	<%= f.collection_select :name, @space_entries, :name, :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :ticket_number %>
      <div class="controls">
	<%= f.number_field :ticket_number, :value => 210000 %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Report Space Failure", :class => 'btn btn-primary' %>
    </div>
    <% end %>

    <table class="table table-striped">
      <thead>
	<tr>
	  <th>Instance</th>
	  <th>RT ticket #</th>
	  <th></th>
	</tr>
      </thead>

      <tbody>
	<% @internal_check.space_checks.each do |space_check| %>
	<% unless space_check.id.nil? %>
	<tr>
	  <td><%= space_check.name %></td>
	  <td><%= space_check.ticket_number %></td>
	  <td>
	    <%= link_to "Delete", 
		internal_check_space_check_path(space_check.internal_check_id, space_check.id), 
		data: { confirm: "Are you sure?" }, method: :delete, 
		:class => 'btn btn-mini btn-danger' %>
	  </td>
	</tr>
	<% end %>
	<% end %>
      </tbody>
    </table>
  </div>
  
</div>  


<div class="form-actions"> 
  <%= link_to t('.back', :default => t("helpers.links.back")),
  internal_checks_path, :class => 'btn' %>
  
  <% if @internal_check.signed_off_by.blank? %>
  <%= link_to 'Sign Off On This Check', 
      sign_off_internal_check_path(@internal_check.id), 
      class: 'btn btn-primary' %>
  <% end %>
  
  <%= link_to 'Destroy', @internal_check, 
      method: :delete, data: { confirm: 'Are you sure you want to delete this check?' },
      class: 'btn btn-danger' %>
</div>
