<%= form_for(@space_entry) do |f| %>
  <% if @space_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@space_entry.errors.count, "error") %> prohibited this space_entry from being saved:</h2>

      <ul>
      <% @space_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="controller">
    <%= f.label :name %>
    <div class="controller-groups">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to "Back", space_entries_path, :class => 'btn' %>
  </div>
<% end %>
