<div class="page-header">
  <h1>LDAP</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ldap_entries.each do |ldap_entry| %>
    <tr>
      <td><%= ldap_entry.name %></td>
      <td><%= link_to 'Edit', edit_ldap_entry_path(ldap_entry), :class => 'btn btn-mini' %></td>
      <td>
        <%= link_to 'Delete', ldap_entry,
            method: :delete, data: { confirm: 'Are you sure?' },
            :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<div class="form-actions">
  <%= link_to 'Add LDAP Entry', new_ldap_entry_path, :class => 'btn btn-primary' %>
  <%= link_to 'Back', admin_tools_path, :class => 'btn' %>
</div>
