<div class="page-header">
  <h1>ReLOUD Schedules</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Machine name</th>
      <th>Person</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @reloud_schedules.each do |reloud_schedule| %>
    <tr>
      <td><%= reloud_schedule.machine_name %></td>
      <td><%= reloud_schedule.person %></td>
      <td><%= link_to 'Edit', edit_reloud_schedule_path(reloud_schedule), 
	      :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Destroy', reloud_schedule, method: :delete, 
	      data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to 'Back', admin_tools_path, :class => 'btn' %>
  <% unless @reloud_entries.empty? %>
  <%= link_to 'New Reloud schedule', new_reloud_schedule_path, :class => 'btn btn-primary' %>
  <% end %>
</div>
