<div class="page-header">
  <h1>Labs</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @labs.each do |lab| %>
    <tr>
      <td><%= lab.name %></td>
      <td><%= link_to 'View/Add Machines', lab_path(lab), :class => 'btn btn-mini' %></td>
      <td><%= link_to 'Edit Name', edit_lab_path(lab), :class => 'btn btn-mini' %></td>
      <td>
        <%= link_to 'Delete', lab,
            method: :delete, data: { confirm: 'Are you sure?' },
            :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<div class="form-actions">
  <%= link_to 'New Lab', new_lab_path, :class => 'btn btn-primary' %>
</div>
