<h1>Listing ldap_checks</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ldap_checks.each do |ldap_check| %>
  <tr>
    <td><%= ldap_check.name %></td>
    <td><%= link_to 'Show', ldap_check %></td>
    <td><%= link_to 'Edit', edit_ldap_check_path(ldap_check) %></td>
    <td><%= link_to 'Destroy', ldap_check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ldap check', new_ldap_check_path %>
