<% content_for :content do %>
<span class="hidden-phone">
  <div class="row">
    <div class="span2">
      <div class="sidebar-nav-fixed">
	<ul class="nav nav-list">
	  <li><%= link_to "Admin Home", admin_tools_path %></li>
	  <li class="divider"></li>
	  <h5>OPERATIONS</h5>
	  <li><%= link_to "Labs", labs_path %></li>
	  <li><%= link_to "Printers", printers_path %></li>
	  <li><%= link_to "Automounts", automounts_path %></li>
	  <li><%= link_to "Nagios", nagios_entries_path %></li>
	  <li><%= link_to "Load Balancers", load_balancers_path %></li>
	  <li><%= link_to "LDAP", ldap_entries_path %></li>
	  <li class="divider"></li>
	  <h5>INTERNAL</h5>
	  <li><%= link_to "Backups", backup_entries_path %></li>
	  <li><%= link_to "Disk Space", space_entries_path %></li>
	  <li><%= link_to "ReLOUDs", reloud_entries_path %></li>
	  <li class="divider"></li>
	  <h5>SCHEDULE</h5>
	  <li><%= link_to "Weekly", weekly_schedules_path %></li>
	  <li><%= link_to "ReLOUDs", reloud_schedules_path %></li>
	  <li><%= link_to "Office Cleanings", office_cleanings_schedules_path %></li>
	</ul>
      </div>
    </div>

    <div class="span10">
      <%= yield %>
    </div>
  </div>
</div>

<div class="visible-phone">
  <div class="row">
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">
	Operations
	<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
	<li><%= link_to "Labs", labs_path %></li>
	<li><%= link_to "Printers", printers_path %></li>
	<li><%= link_to "Automounts", automounts_path %></li>
	<li><%= link_to "Nagios", nagios_entries_path %></li>
	<li><%= link_to "Load Balancers", load_balancers_path %></li>
	<li><%= link_to "LDAP", ldap_entries_path %></li>  
      </ul>
    </div>
    
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">
	Internal
	<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
	<li><%= link_to "Backups", backup_entries_path %></li>
	<li><%= link_to "Disk Space", space_entries_path %></li>
	<li><%= link_to "ReLOUDs", reloud_entries_path %></li>
      </ul>
    </div>

    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">
	Schedule
	<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
	<li><%= link_to "Weekly", weekly_schedules_path %></li>
        <li><%= link_to "ReLOUDs", reloud_schedules_path %></li>
	<li><%= link_to "Office Cleanings", office_cleanings_schedules_path %></li>
      </ul>
    </div>
  </div>
  
  <%= yield %>
</div>
<% end %>
<%= render template: "layouts/application" %>
