<!DOCTYPE html>
<html>
  <head>
    <title>Infco</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
	</a>
	<a class="brand" href="/">Infrastructure Checks</a>
	<div class="nav-collapse collapse">
          <ul class="nav">
	    <li class="<%= 'active' if params[:controller] == 'admin' %>">
	      <a href="/admin_tools">Admin Tools</a>
	    </li>
	    <li class="<%= 'active' if params[:controller] == 'welcome' %>">
	      <a href="/">Home</a>
	    </li>
	    <li class="<%= 'active' if params[:controller] == 'operations_checks' %>">
	      <a href="#">Operations</a>
	    </li>
	    <li class="<%= 'active' if params[:controller] == 'internal_checks' %>">
	      <a href="/internal_checks">Internal</a>
	    </li>
	    <li class="<%= 'active' if params[:controller] == 'schedule' %>">
	      <a href="#">Schedule</a>
	    </li>
	  </ul>
	</div>
      </div>
    </div>
  </div>

  <body>
    <div class="container-fluid">
      <div class="row-fluid">
	<%= yield %>
      </div>
    </div>
  </body>

</html>
